/* Paleta de colores */
/*
	azul oscuro #092169;
	azul claro  #22419A;
	rojo claro  #CC0000;
	rojo oscuro #770000;


*/


body {
	background: url(img/body-bkg2.png) repeat-x scroll 0% 0% #C8CDD6;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: #092169;
	margin: auto;
	color: #fff;
}

header .top {
	background-color: #22419A;
	position: relative;
	-webkit-box-shadow: 0 8px 6px -6px #222;
	   -moz-box-shadow: 0 8px 6px -6px #222;
	        box-shadow: 0 8px 6px -6px #222;
	border-top: 2px solid #294FBC;
}

header .info-usuario {
	font-size: 11px;
	text-align: right;
	padding: 7px 120px 7px 0;
	
}

header .info-usuario a{
	color: #fff;
	text-decoration: none;
	
}


header .top .borde-redondo {
	position: absolute;
	right: 0;
	width: 125px;
	height: 125px;
	border-radius: 60px;
	background-color: #22419A;
	top: -15px;
}

header .top .titulo {
	margin: 5px 0 0  40px;
	text-shadow: 2px 2px 8px #222;
}

header .top .titulo a{
	font-size: 42px;
	color: #fff;
	text-decoration: none;
}

header .top .subtitulo{
	position: relative;
}
header .top .logo {
	position: relative;
	z-index: 1;
	margin-right: 23px;
	padding-top: 2px;
	float: right;
}
header .top .logo a {
	width: 192px;
	height: 96px;
	display: block;	
	background: url(img/logo-unicauca.png) no-repeat;
}
header .bottom {
	height: 40px;
	background: url(img/bkg-cabecera-rojo.png) repeat-y;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

/*--------------Contenido-----------------*/


.contenido {
	background: #fff;
	overflow: hidden;
	margin: 0;
	padding: 0;
}


nav ul{
	background: #DDD;
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	margin: 10px 0;
	background: -webkit-linear-gradient(right, #DDD , #EEE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #DDD, #EEE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #DDD, #EEE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #DDD , #EEE); /* Standard syntax */
}

nav ul .titulo-menu{
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 16px;
	text-align: right;
	padding-right: 14px;
	background: #092169;
	background: -webkit-linear-gradient(left, #092169 , #051543); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #092169, #051543); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #092169, #051543); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, #092169 , #051543); /* Standard syntax */
	
}

nav ul li a {
	text-decoration: none;
	color: #333;
	display: block;
	padding: 10px 20px;
}

nav ul li {
	border-bottom: 1px solid #949494;
	border-top: 1px solid #fff;
}

nav ul li a:hover {
	text-decoration: none;
	border-right: 4px solid #CC0000;
	background: #D7D7D7;
}


/*-------------- Footer -----------------*/

.contenedor {
	width: 100%;
	background: url(img/bkg-footer.jpg) repeat-x 0% 41px; 
	background-color: #FFF;	
}

.contenedor .separador {
	height: 75px;
	background: url(img/foot-bkg.gif) no-repeat center;	
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.contenedor .pie {
	background: url(img/bkg-cabecera-rojo.png) repeat-y;	
	border-top: 5px solid #092169;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	-webkit-box-shadow: 0 8px 6px -6px #222;
	   -moz-box-shadow: 0 8px 6px -6px #222;
	        box-shadow: 0 8px 6px -6px #222;
}

.contenedor .pie .decoracion {
	width: 132px;
	height: 59px;
}

.contenedor .pie .decoracion.izq {
	background: url(img/fon-izq-footer-inf.gif) no-repeat;
	float: left;
}

.contenedor .pie .decoracion.der {
	background: url(img/fon-der-footer-inf.gif) no-repeat;
	float: right;
}

/***** Miscelanea *****/
.clear {
	clear: both;
}


/* ======= Estilo Contenidos Home ======= */

.nombre-categoria 
{
    color: #0C2876;
    font: bold 20px 'Arial Narrow','Helvetica Narrow',Tahoma,sans-serif;
}

.fecha-contenido{
	display: block;
	font-size: 13px;
	color: #CC0000;	
	clear: both;
}

.fecha-contenido:first-letter{
	text-transform: uppercase;
}

#contenidosHome li a:link, #contenidosHome li a:visited {
	color: #0C2876;
	font-size: 14px;
	background-color: inherit;
}

#contenidosHome li {
	border-bottom: 1px solid #9BA5BF;
	list-style: none outside none;
	padding: 12px 0 12px 0;
}

#contenidosHome ul {
	border-top: 1px solid #9BA5BF;
}