<div class="nav nav-pills">
    <button type="button" class="btn btn-default" onclick="window.location='/contenidos'">Contenidos</button>
    <button type="button" class="btn btn-default" onclick="window.location='/categorias'">Categorias</button>
    <button type="button" class="btn btn-default" onclick="window.location='/etiquetas'">Etiquetas</button>
    <button type="button" class="btn btn-default" onclick="window.location='/bloques'">Bloques</button>
</div>
